x-templates:
  agent_ubuntu2404_amd64:
    &agent_ubuntu2404_amd64
    image: finnley/ubuntu2404:amd64
    privileged: true
    stdin_open: true
    tty: true
    extra_hosts:
      - "docker-registry:192.168.18.20"
    cap_add:
      - ALL
    working_dir: /opt
    volumes:
      - ~/workspace/shared:/opt/shared

services:

  vm-1:
    container_name: vm-1
    hostname: "vm-1"
    privileged: true
    networks:
      vm_net:
        ipv4_address: 172.20.30.1
      vm_net_2:
        ipv4_address: 172.20.40.1
    volumes:
      - "~/workspace/shared:/opt/shared"
    <<: *agent_ubuntu2404_amd64

  vm-2:
    container_name: vm-2
    hostname: "vm-2"
    privileged: true
    networks:
      vm_net:
        ipv4_address: 172.20.30.2
      vm_net_2:
        ipv4_address: 172.20.40.2
    volumes:
      - "~/workspace/shared:/opt/shared"
    <<: *agent_ubuntu2404_amd64

  vm-3:
    container_name: vm-3
    hostname: "vm-3"
    privileged: true
    networks:
      vm_net:
        ipv4_address: 172.20.30.3
      vm_net_2:
        ipv4_address: 172.20.40.3
    volumes:
      - "~/workspace/shared:/opt/shared"
    <<: *agent_ubuntu2404_amd64

  vm-4:
    container_name: vm-4
    hostname: "vm-4"
    privileged: true
    networks:
      vm_net:
        ipv4_address: 172.20.30.4
      vm_net_2:
        ipv4_address: 172.20.40.4
    volumes:
      - "~/workspace/shared:/opt/shared"
    <<: *agent_ubuntu2404_amd64

  vm-5:
    container_name: vm-5
    hostname: "vm-5"
    privileged: true
    networks:
      vm_net:
        ipv4_address: 172.20.30.5
      vm_net_2:
        ipv4_address: 172.20.40.5
    volumes:
      - "~/workspace/shared:/opt/shared"
    <<: *agent_ubuntu2404_amd64

networks:
  vm_net:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.20.30.0/24
          gateway: 172.20.30.254
  vm_net_2:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.40.0/24
          gateway: 172.20.40.254

