x-templates:
  agent_ubuntu2404_arm64:
    &agent_ubuntu2404_arm64
    image: finnley/ubuntu2404:arm64
    privileged: true
    stdin_open: true
    tty: true
    extra_hosts:
      - "docker-registry:192.168.18.20"
    cap_add:
      - ALL
    working_dir: /opt
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
      - ~/workspace/shared:/opt/shared

services:

  vm-1:
    container_name: vm-1
    hostname: "vm-1"
    privileged: true
    networks:
      vm_net:
        ipv4_address: 172.20.30.1
      vm_net_2:
        ipv4_address: 172.20.40.1
    ports:
      - "8080:8080"
      - "3311:3306"
      - "20020:10000"
      - "20021:18080"
      - "20022:27001"
      - "6384:6379"
    volumes:
      - "~/workspace/shared:/opt/shared"
      - "/var/lib/docker"
    <<: *agent_ubuntu2404_arm64

  vm-2:
    container_name: vm-2
    hostname: "vm-2"
    privileged: true
    networks:
      vm_net:
        ipv4_address: 172.20.30.2
      vm_net_2:
        ipv4_address: 172.20.40.2
    ports:
      - "3312:3306"
      - "20024:10000"
      - "20025:18080"
      - "20026:27001"
      - "6385:6379"
    volumes:
      - "~/workspace/shared:/opt/shared"
      - "/var/lib/docker"
    <<: *agent_ubuntu2404_arm64

  vm-3:
    container_name: vm-3
    hostname: "vm-3"
    privileged: true
    networks:
      vm_net:
        ipv4_address: 172.20.30.3
      vm_net_2:
        ipv4_address: 172.20.40.3
    ports:
      - "3313:3306"
      - "20028:10000"
      - "20029:18080"
      - "20030:27001"
      - "6386:6379"
    volumes:
      - "~/workspace/shared:/opt/shared"
      - "/var/lib/docker"
    <<: *agent_ubuntu2404_arm64

  vm-4:
    container_name: vm-4
    hostname: "vm-4"
    privileged: true
    networks:
      vm_net:
        ipv4_address: 172.20.30.4
      vm_net_2:
        ipv4_address: 172.20.40.4
    ports:
      - "3314:3306"
      - "6387:6379"
      - "20032:10000"
      - "20033:18080"
      - "20034:27001"
    volumes:
      - "~/workspace/shared:/opt/shared"
      - "/var/lib/docker"
    <<: *agent_ubuntu2404_arm64

  vm-5:
    container_name: vm-5
    hostname: "vm-5"
    privileged: true
    networks:
      vm_net:
        ipv4_address: 172.20.30.5
      vm_net_2:
        ipv4_address: 172.20.40.5
    ports:
      - "3315:3306"
      - "6388:6379"
      - "20036:10000"
      - "20037:18080"
      - "20038:27001"
    volumes:
      - "~/workspace/shared:/opt/shared"
      - "/var/lib/docker"
    <<: *agent_ubuntu2404_arm64

networks:
  vm_net:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.20.30.0/24
          gateway: 172.20.30.254
  vm_net_2:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.40.0/24
          gateway: 172.20.40.254

